---
// tools
import type { GetStaticPaths } from 'astro'
import ButtonLink from '@/components/ui/ButtonLink.astro'

// components
import PostCard from '@/components/ui/PostCard.astro'

// layouts
import BaseLayout from '@/layouts/BaseLayout.astro'
import { getCollection } from 'astro:content'

export const prerender = true

// data
export const getStaticPaths = (async ({ paginate }) => {
  const allPosts = await getCollection('posts', ({ data }) => !data.isDraft)
  return paginate(
    allPosts.sort(
      (a, b) =>
        new Date(b.data.pubDate).getUTCDate()
          - new Date(a.data.pubDate).getUTCDate(),
    ),
    { pageSize: 3 },
  )
}) satisfies GetStaticPaths

const { page } = Astro.props
---

<BaseLayout title=`Kiiyuru's Stories  | Page ${page.currentPage}`>
  <section class="py-10 bg-zinc-900 px-4">
    <div id="title-wrapper" class="grid gap-4 text-center">
      <h2 class="text-xl lg:text-3xl font-display text-pretty">
        Fancy a read?
      </h2>
      <p>
        Every line of code has a story. Here’s where I share mine—epic wins,
        spectacular fails, and the adventures in between.
      </p>
    </div>
    <div id="cards-wrapper">
      {
        page.data.map(post => (
          <div id="card">
            <PostCard post={post} />
          </div>
        ))
      }
    </div>
    <div id="navigation" class="flex gap-4 justify-center items-center">
      {
        page.url.prev && (
          <ButtonLink href={page.url.prev} variant="badge">
            {'<'}
          </ButtonLink>
        )
      }
      <p class="font-medium">
        Page {page.currentPage}
      </p>
      {
        page.url.next && (
          <ButtonLink href={page.url.next} variant="badge">
            {'>'}
          </ButtonLink>
        )
      }
    </div>
  </section>
</BaseLayout>

<style>
  section {
    display: grid;
    grid-template-columns: 1fr;
    gap: 4rem;
    grid-row: span 7;
  }
  #cards-wrapper {
    display: grid;
    grid-template-columns: subgrid;
    gap: 2rem;
  }

  @media (min-width: 640px) {
    section {
      grid-column: span 2;
    }
  }
  @media (min-width: 768px) {
    #cards-wrapper {
      grid-template-columns: repeat(2, 1fr);
    }

    #card {
      grid-column: span 1;
    }
  }
  @media (min-width: 1024px) {
    section {
      grid-column: span 6;
      padding-left: 2rem;
      padding-right: 2rem;
    }

    #title-wrapper p {
      max-width: 600px;
      margin: 0 auto;
    }

    #cards-wrapper {
      grid-template-columns: repeat(3, 1fr);
    }
  }
</style>
