---
export const prerender = true

import { render } from 'astro:content'

import FormattedDate from '@/components/ui/FormattedDate.astro'
import Heading from '@/components/ui/Heading.astro'
import BaseLayout from '@/layouts/BaseLayout.astro'
import Container from '@/layouts/Container.astro'
import { Image } from 'astro:assets'
import { getCollection } from 'astro:content'

import type { GetStaticPaths } from 'astro'
import type { CollectionEntry } from 'astro:content'

export const getStaticPaths = (async () => {
  const allPosts = await getCollection('posts', (post) => !post.data.isDraft)
  return allPosts.map((post) => {
    return {
      params: {
        id: post.id,
      },
      props: {
        post: post,
      },
    }
  })
}) satisfies GetStaticPaths

type Props = {
  post: CollectionEntry<'posts'>
}

const { post } = Astro.props

const { Content } = await render(post)

const { title, description, pubDate, image } = post.data
---

<BaseLayout title={title} description={description}>
  <section aria-label=`section on ${title}` class="bg-zinc-900 px-4 py-10">
    <div class="grid gap-4 text-center">
      <FormattedDate pubDate={pubDate} className="mx-auto" />
      <h2
        class="text-4xl lg:text-5xl font-sans font-bold tracking-wider text-balance"
      >
        {title}
      </h2>
      <p class="text-center text-balance">
        {description}
      </p>
    </div>

    <Image
      inferSize
      src={image}
      alt={title}
      format="avif"
      width={830}
      height={450}
    />
    <div
      id="content"
      class="prose md:prose-lg lg:prose-xl font-light text-white prose-headings:text-white tracking-wider
      prose-code:text-red-400 prose-a:text-sky-400
      prose-a:no-underline prose-h2:text-pretty prose-h3:text-pretty prose-h4:text-pretty
      prose-h2:font-bold prose-h3:font-bold prose-h4:font-bold"
    >
      <Content />
    </div>
  </section>
</BaseLayout>

<style>
  section {
    display: grid;
    grid-template-columns: 1fr;
    gap: 4rem;
  }

  #content {
    display: grid;
    max-width: 100%;
  }
  @media (min-width: 640px) {
    section {
      grid-template-columns: subgrid;
      grid-column: span 2;
    }

    section > * {
      grid-column: span 2;
      margin: 0 auto;
    }
  }

  @media (min-width: 1024px) {
    section {
      grid-column: span 6;
    }

    section > * {
      grid-column: 2/6;
    }
  }
</style>
