---
// components
import { extractSegmentURL } from "@/lib/extractSegmentURL"
import { Icon } from "astro-icon/components"

type Props = {
  href: string
  icon?: string
  title: string
  classes?: string
  target?: string
}

const { href, icon, title, classes, target } = Astro.props
const segment = extractSegmentURL(Astro.url.pathname)
---

<li>
  <a
    class="relative group"
    href={href}
    aria-label={icon && title}
    target={target}
  >
    {
      icon ? (
        <Icon
          class:list={["size-10 lg:size-14 hover:text-zinc-500", classes]}
          name={icon}
          aria-hidden="true"
        />
      ) : (
        <>
          <span class="font-semibold text-xl lg:text-2xl font-display">
            {title}
          </span>
          <span
            class:list={[
              "absolute -bottom-1 left-0 w-0 h-2 bg-zinc-500 transition-all group-hover:w-full",
              href.startsWith(`/${segment}`) ? "w-full" : "w-0",
            ]}
          />
        </>
      )
    }
  </a>
</li>
