---
// astro tools
import { Icon } from "astro-icon/components"
import { getEntries } from "astro:content"
import { Image } from "astro:assets"

// types
import type { CollectionEntry } from "astro:content"

// components
import Heading from "@/components/ui/Heading.astro"

type Props = {
  data: CollectionEntry<"projects">["data"]
}

const { data } = Astro.props

const { title, url, icons, thumbnail } = data

const iconData = await getEntries(icons)
---

<article aria-label={title} class="border-4 hover:shadow-lg">
  <a href={url} class="flex flex-col">
    <Image
      src={thumbnail}
      class={"max-h-48"}
      alt={title}
      format="avif"
      inferSize
    />
    <div class="p-4">
      <div class="flex gap-3 items-center pb-2">
        <Heading tagName="h4">{title}</Heading>
        <Icon name="external-link" class="size-4" />
      </div>
      <ul class="flex gap-2">
        {
          iconData.map(({ data }) => (
            <li>
              <Icon name={data.icon} title={data.icon} aria-label={data.icon} />
            </li>
          ))
        }
      </ul>
    </div>
  </a>
</article>
